@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Righteous&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Righteous";
}
section{
    position: absolute;
    right: 0;
    /* left: 0; */
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #111;
    transition: 0.7s;
}
.Banner.active{
    right: 300px;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    z-index: 1000;
}
header .logo{
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}
.toggle{
    position: relative;
    height: 60px;
    width: 60px;
    background: url(Images/menu.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
}
.toggle.active{
    background: url(Images/close.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    cursor: pointer;
}
.pic{
    z-index: 10;
    position: absolute;
    height: 15px;
    width: 15px;
    top: 470px;
    left: 100px;
}
section video{
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* background: linear-gradient(to left, rgb(113, 113, 197),rgb(206, 12, 12)); */
    background: linear-gradient(to left,#00f,#f00);
    mix-blend-mode: overlay;
}
.text{
    position: relative;
    color: white;
    z-index: 1000;
}
.text h2{
    position: a;
    font-size: 3rem;
    text-transform: uppercase;
}
.text h3{
    font-size: 2rem;
    line-height: 3rem;
}
.text p{
    position: relative;
    margin: 20px 0;
    max-width: 40rem;
    font-size: 1.1rem;
}
.text a{
    background: #fff;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
}
.links{
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px;
}
.links li{
    list-style: none;
}
.links li a{
    display: inline-block;
    margin-right: 20px;
    filter: invert(100%);
    transform: scale(0.7);
}
.menu{
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: white;
    /* z-index: 10; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu li{
    list-style: none;
    text-align: center;
}
.menu li a{
    font-size: 1.7rem;
    text-decoration: none;
    color: rgb(38, 5, 92);
}
.toggledisplay{
    display: none;
}
@media(max-width: 991px)
{
    section,section header{
        padding: 40px;
    }
    .text h2{
        font-size: 3rem;
    }
    .text h3{
        font-size: 2rem;
    }
}